<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.BoardRepository">

	<resultMap id="1" type="com.example.demo.entity.Board" >
		<id column="bno" property="no"/>
		<result column="uno" property="uno"/>
		<result column="writer" property="writer"/>
		<result column="bpwd" property="pwd"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="count" property="count"/>
		<result column="cdate" property="createdDate"/>
		<result column="mdate" property="modifiedDate"/>
		<result column="file_name" property="fileName"/>
		<result column="img_name" property="imgName"/>
	</resultMap>

	<select id="findByNo" parameterType="java.lang.Long" resultMap="1">
		select * from board where bno=#{no}
	</select>

	<select id="findAll" resultMap="1">
		select * from board
	</select>

	<insert id="insert" parameterType="com.example.demo.entity.Board">
		insert into board (uno, bpwd, title, writer, content, count, img_name, file_name, cdate, mdate)
		values(#{uno}, #{pwd}, #{title}, #{writer}, #{content}, #{count}, #{imgName}, #{fileName}, #{createdDate}, #{modifiedDate})
	</insert>
	
	<update id="increaseCount" parameterType="java.lang.Long">
		update board set count = count + 1 where bno = #{no}
	</update>
	
	<select id="countBoard" resultType="int">
		select count(*) from board
	</select>

	
</mapper>