<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.6.0.min.js"></script>
<style>
    *{
        text-align: center;
    }
    table {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    #select_role {
        text-align: right;
        margin-right: 15px;
        margin-bottom: 10px;
    }

</style>
    <title>게시판</title>
</head>
<body>
<div style="margin-top:10px">
    <button type="button" class="btn btn-outline-primary"><a href="javascript:history.back(-1)">뒤로</a></button>
    <div>
	    <th:block th:if="${#strings.isEmpty(session.user)}">
	    <button type="button" class="btn btn-outline-primary"><a th:href="@{/loginForm}">로그인</a></button>
        <a th:href="@{/joinForm}" class="btn btn-primary">회원가입</a>
    </div>
    
    <div class="logout" style="position: absolute; margin: 0 auto; left: 70%">
    <th:block th:unless="${#strings.isEmpty(session.user)}">
        <button type="button" id="btn_logout" class="btn btn-secondary"><th:block th:text="${session.user.id} + '님 로그아웃'"></th:block></button >
    </th:block>
    </div>
</div>
<br/>

<h2>게시글</h2>
<table class="table table-horizontal table-bordered">
    <thead>
    <tr class="table-light">
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성일자</th>
        </tr>
    </thead>
    <tbody class="tbody" th:each="board : ${response}">
        <td th:text="${board.no}" th:href="@{/board/{no}(no=${board.no})}">번호</td>
        <td th:text="${board.title}" id="title">제목</td>
        <td th:text="${board.writer}" id="writer">작성자</td>
        <td th:text="${board.count}" id="count">조회수</td>
        <td th:text="${board.createdDate}" id="createdDate">작성일자</td>
    </tbody>
</table>
<button type="button" class="btn btn-outline-primary"><a th:href="@{/board/addForm}">게시글 작성</a></button>

<nav aria-label="pagination">
    <ul class="pagination justify-content-center">
    <!--    <li th:classappend="${criteria.pageNum}-1 == 0 ? 'disabled'" class="page-item">-->
    	<li class="page-item disabled" >
           <a th:href="@{/board(page=${criteria.pageNum}-1)}">이전</a>
        </li >
        <li class="page-item" th:each="page: ${#numbers.sequence(criteria.startPage, criteria.endPage)}" th:classappend="${page == criteria.pageNum + 1} ? 'active'">
            <a th:text="${page}" th:href="@{/board(page=${page})}"></a>
        </li>
        <li th:classappend="${criteria.endPage} == ${criteria.totalPage} ? 'disabled'" class="page-item">
            <a th:href="@{/board(page=${criteria.pageNum} + 1)}">다음</a>
       </li >
    </ul >
</nav >
<script type="text/javascript">
    
  $(function () {
      $('#btn_logout').click(function () {

            $.ajax({
            async:true,
            type:'GET',
            url:'/api/logout',
            contentType:'application/json; charset=utf-8;',
            success: function (result) {
				console.log('result : ' + result);
                if (result == 1) {
                    alert("로그아웃 성공");
                    window.location.href='/board';
                }else{
                    alert("로그아웃 실패. 다시 시도해주세요.");
                }
            },
            error:function(){

            }
        });

        });
    });    

</script>
</body>
</html>